HOST: "0.0.0.0"
PORT: 8080
UNIX: null
DEBUG: True
SOCK: null
WORKERS: 1
ACCESS_LOG: True

AUTH_TOKEN_DELAY: 900
DATETIME_FORMAT: "%Y-%m-%dT%H:%M:%S.%fZ"
FLOOR_HEIGHT: 3.0
FLOOR_COUNT: 10
LIFT_COUNT: 1
LIFT_MAX_WEIGHT: 300.0
LIFT_SPEED: 0.25
LOOP_DELAY: 0.5
SECRET_KEY: "my_secret_key"
