HOST: "0.0.0.0"
PORT: 8080
UNIX: null
DEBUG: True
SOCK: null
WORKERS: 1
ACCESS_LOG: True

# Время жизни токена
AUTH_TOKEN_DELAY: 900
DATETIME_FORMAT: "%Y-%m-%dT%H:%M:%S.%fZ"
FLOOR:
  # Высота одного этажа в условных единицах
  HEIGHT: 3.0
  # Количество этажей в здании
  COUNT: 10
LIFT:
  # Количество лифтов в здании
  COUNT: 1
  # Грузоподъемность лифта
  MAX_WEIGHT: 300.0
  # Скорость движения лифта. Не должна быть больше высоты этажа
  SPEED: 0.25
# Время в секундах, на которое прерывается обработка событий
LOOP_DELAY: 0.5
# Секретный ключ для аутентификации
SECRET_KEY: "my_secret_key"
